body {
    background-color: white;
    color: black;
    font-family: sans-serif; }

a {
    color: black;
    text-decoration: none; }

a.ul {
    text-decoration: underline; }

p.footer {
    color: #B6B6B4;
    font-size: 100%; }

span.adresse {
    font-size: 100%; }

span.datum {
    font-size: 150%;
    text-align: center; }

span.title {
    font-size: 150%;
    font-weight: bold; }

span.location {
    font-size: 100%;
    font-weight: bold; }

span.zeit {
    font-size: 150%;
    font-weight: bold; }

table {
    max-width: 90%; }

td {
    padding: 5px; }

td.open {
    background-color: #81F7BE; }

td.closed {
    background-color: #F5A9A9; }

td.no_data {
    background-color: #B6B6B4; }

tr.odd {
    background-color: white; }

tr.even {
    background-color: #B6B6B4; }

tr.beach {
    text-align: center; }